body, div, ul, li, p, a, span {
    border: solid 5px black;
    margin: 10px;
    padding: 15px;
    background-color: white;
}


/*Combinação de seletores*/

/* Child */

body > div {
    background-color: slateblue;
}

div > div {
    background-color: hotpink;
}

p > span {
    background-color: teal;
}


/* Descendant */

ul a {
    background-color: mediumblue;
}

div p {
    background-color: yellow;
}

div ul {
    background-color: crimson;
}

ul li {
    background-color: peru;
}


/* Adjacent Sibling */

p + p {
    background-color: coral;
}


/* General Sibling */

li ~ li {
    background-color: limegreen;
}

div ~ div {
    background-color: grey;
}








