/*==================== Especificidade ====================

Existem 4 categorias que definem o nível de especificidade a
um dado seletor:

1) Estilos inline;
2) IDs;
3) Classes, pseudoclasses e atributos;
4) Elementos e pseudoelementos.

Existem alguns casos especiais na Especificidade CSS:

No caso de acontecer um empate, ou seja, duas ou mais regras
em um mesmo conjunto de Folhas de Estilo com o mesmo peso, a
cascata CSS entra em ação.

Ao usar !important, o valor da respectiva propriedade ganha
prioridade sobre quaisquer efeitos da Especificidade.

Havendo conflito entre vários !important , novamente entra em 
ação o efeito cascata, com precedência das CSS de usuário às 
de autor.

O uso de !important é desencorajado. Pode ser usado como uma
exceção.

*/

body{
    font-size: 22px;
}

div {
    border: solid 2px black;
    margin: 5px;
    text-align: center;
}

/*==================== Exemplo 1 ====================

O #div1 tem especificidade maior que div.exemplo1 e .exemplo1. 
Portanto, é aplicado a cor de fundo salmon à div1. E div.exemplo1
tem especificidade maior que .exemplo1, sendo aplicado, portanto,
a cor de fundo violet à div2.

#div1 = 0100
div.exemplo1 = 0011
.exemplo1 = 0010

Especificidade: 0100 > 0011 > 0010

*/

#div1 {
    background-color: salmon;
}

div.exemplo1 {
    background-color: violet;
}

.exemplo1 {
    background-color: seagreen;
}

/*==================== Exemplo 2 ====================

O #div1.exemplo2 tem especificidade maior que #div1 (Exemplo 1).
Portanto, é aplicado a cor de fundo blue à div1. E como div possui
a menor especificidade, nenhuma div, tanto do primeiro exemplo quanto
do segundo, não recebe a cor de fundo gold. Consequentemente, a div2 
desse exemplo, recebe a cor gray, como foi declarado com div.exemplo2.  

#div1.exemplo2 = 0110
div.exemplo2 = 0011
div = 0001

Especificidade: 0110 > 0011 > 0001

*/

#div1.exemplo2 {
    background-color: blue;
}

div.exemplo2 {
    background-color: gray;
}

div {
    background-color: darkgreen;
}

/*==================== Exemplo 3 ====================

Nesse exemplo foi aplicada a pseudo-classe hover nas 
divs deste exemplo, sendo que div.exemplo3[special-color]
e div.exemplo3:hover possuem a mesma especificidade.
Neste caso, quando há a mesma especificidade, a ordem
importa. Como pode-se observar, div.exemplo3:hover se 
encontra abaixo de div.exemplo3[special-color]. Portanto, 
quando o cursor for passado em cima da div2 e div3, a cor 
de fundo dessas divs será alterada para yellow, enquanto o 
cursor permanecer em cima delas.

#div1.exemplo3 = 0110
div.exemplo3[special-color] = 0021
div.exemplo3:hover = 0021

Especificidade: 0110 > 0021 = 0021

*/

#div1.exemplo3 {
    background-color: teal;
}

div.exemplo3[special-color] {
    background-color: red;
}

div.exemplo3:hover {
    background-color: yellow;
}

/*==================== Exemplo 4 ====================

Diferentemente do Exemplo 3, div.exemplo4:hover se encontra
acima de div.exemplo4[special-color]. Sendo assim, somente a
div3 sofrerá a mudança de cor de fundo para yellow.

*/

#div1.exemplo4 {
    background-color: teal;
}

div.exemplo4:hover {
    background-color: yellow;
}

div.exemplo4[special-color] {
    background-color: red;
}

